<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}" />
</head>
<body>
<div class="nav">
<ul>
<li><a href="/">posts</a></li>
<li><a href="/new">new</a></li>
<div class="search" >
<form method="post" action="/search"><input id="s" type="text" name="q" value="{{q}}" placeholder="Search...">
<input id="n" name="n" value="0" type="hidden">
<button type="submit">&#x1F50D;</button>
</form>
</div>
</ul>
</div>
<div class="posts">
{% for i in posts %}
<span ><a class="posturl" href="/{{i.xid}}" >{{ i.title }} </a><br><span id="content">{{ i.post|safe }}</span><hr></span>
{% endfor %}
<a id="next" href="#" ><button id="next" >&gt;</button></a>
<a id="back" href="#" ><button id="back" >&lt;</button></a>
</div>
<script>
var data = new URL(document.URL);
s = document.getElementById("s").value;
next = data.searchParams.get("n");
count = {{ count }} ;

if(next == null || next == undefined || next == 0){
   next = 0;
   document.getElementById("back").href = "#";
}else{
   b = parseInt(next) - 5;
   if(s == ""){
        document.getElementById("back").href = "/next?n=" + b;
        document.getElementById("n").href = n;
   }else{
        document.getElementById("back").href = "/search?q=" + s + "&n=" + b;
   };
};
n = parseInt(next);
if(n + 5 < count && s == ""){
     n = n + 5;
     document.getElementById("next").href = "/next?n=" + n;
     document.getElementById("n").href = n;
}
else if(n + 5 < count && s != ""){
     n = n + 5; 
     document.getElementById("next").href = "/search?q=" + s + "&n=" + n;

}else{
     document.getElementById("next").href = "#";
};
if(count == 0){
	document.getElementsByClassName("posts")[0].style.display = "none";
};
</script>
</body>
</html>
