<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}" />
<link rel="stylesheet" href="{{ url_for('static',filename='quill.snow.css') }}">
</head>
<body>
<div class="nav">
<ul>
<li><a href="/">posts</a></li>
<li><a href="/new">new</a></li>
<div class="search" >
<form method="post" action="/search"><input id="s" type="text" name="q" value="{{q}}" placeholder="Search...">
<input id="n" name="n" value="0" type="hidden"><button type="submit">&#x1F50D;</button>
</form>
</div>
</ul>
</div>
{% for i in post %}
<form method="post" action="/edit/{{i.xid}}">
<div class="post">

<span class="title" >{{ i.title }}</span><span class="content"><div class="ql-editor">{{ i.post | safe }}</div></span><p> <span class="date">{{ i.date }}</span>
{% endfor %}
<br ><p> <button id="addnew" name="edit" value="edit">Edit</button>
<button id="delete" name="edit" value="delete">Delete</button>
</div>
</form>
</body>
</html>
